@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,800&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gold-color: linear-gradient(45deg, #ffd700, #ffa500);
}

.orange {
  background: linear-gradient(180deg, #D59332 0%, #BB8330 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gold, .depoimentos h2, .hero .hero-container h1 span {
  color: #E9CDA8;
}

.border-gold, .aulas .aula {
  border: 2px solid #E9CDA8;
}

.container, .aulas, .hero .hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container, .aulas, .hero .hero-container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.h-full, .hero .hero-container {
  height: 100%;
}

.w-full {
  width: 100%;
}

.text-white, .aulas, .hero .hero-container p, .hero .hero-container h1 {
  color: white;
}

.w-25 {
  width: 25%;
}

.w-50, .video, .hero .hero-container p {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.justify-center, .depoimentos, .hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.margin-auto, .video {
  margin: 0 auto;
}

.flex, .depoimentos, .aulas .aula, .aulas, .hero .hero-container {
  display: flex;
}

.flex-col, .depoimentos, .aulas, .hero .hero-container {
  flex-direction: column;
}

.relative, .video {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center, .bonus, .depoimentos, .aulas .aula {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start, .hero .hero-container {
  align-items: flex-start;
}

.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 838px;
}
@media screen and (max-width: 960px) {
  .hero .hero-container h1 br {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .hero .hero-container p {
    width: 100%;
  }
}

.video {
  max-width: 800px;
  top: -90px;
}
.video img {
  border: 2px solid #E9CDA8;
}
@media screen and (max-width: 960px) {
  .video {
    width: 100%;
  }
  .video img {
    border: 2px solid #E9CDA8;
  }
}

.aulas .aula {
  max-width: 664px;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  border-radius: 4px;
}
.aulas .aula p {
  color: white;
  font-size: 20px;
}
.aulas .aula span {
  color: #D59332;
  font-size: 20px;
}
.aulas h3 {
  font-size: 72px;
}

.depoimentos {
  text-align: center;
}
.depoimentos h2 {
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
}
.depoimentos .cards {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 960px) {
  .depoimentos .cards {
    grid-template-columns: 1fr 1fr;
  }
}
.depoimentos .depoimento-card {
  height: 416px;
  width: 250px;
  opacity: 0.2;
  background: #7A7A7A;
}
@media screen and (max-width: 960px) {
  .depoimentos .depoimento-card {
    width: -moz-max-content;
    width: max-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
}

.bonus {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bonus-bg.png);
  display: flex;
  justify-content: center;
  gap: 50px;
}
.bonus div {
  flex: 1 1 360px;
}

.content {
  padding: 36px;
}
.content h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
}
.content h2 span {
  color: #D59332;
}
.content p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
}
.sobre {
  margin-top: 96px;
  height: 990px;
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;
  background-image: url(../img/hero-sobre.png);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .sobre {
    background-position: 30%;
    height: 900px;
  }
}
.sobre .content {
  width: 50%;
  margin-left: auto;
}
@media screen and (max-width: 960px) {
  .sobre .content {
    width: 100%;
    position: relative;
    bottom: 0px;
  }
}

.texte-white {
  color: white;
}

.texte-gradiente {
  color: #BB8330;
}

.ofertas {
  height: 100%;
  width: 100%;
  padding: 250px 24px;
}

.lista-de-ofertas {
  list-style: none;
}
.lista-de-ofertas li {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.lista-de-ofertas li img {
  width: 24px;
}
.lista-de-ofertas .thumb-ofertas {
  width: 540px;
  height: auto;
  border: 5px solid #bb8330;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 46px 24px;
  justify-content: center;
  align-items: center;
}
.lista-de-ofertas .thumb-ofertas > img {
  position: absolute;
  top: -300px;
}
.lista-de-ofertas .Ofertas-descrition {
  margin-top: 80px;
}
.lista-de-ofertas .Ofertas-descrition h2 {
  font-size: 36px;
  text-transform: uppercase;
}
.lista-de-ofertas .Ofertas-descrition h2 span {
  color: #bb8330;
}

.preco {
  text-align: center;
}
.preco p {
  font-size: 16px;
}
.preco p span {
  color: red;
}
.preco p:last-child {
  font-size: 16px;
  font-weight: 400;
}
.preco h1 {
  background: var(--LINEAR, linear-gradient(91deg, #FEDF8F 5.07%, #EC7641 87.85%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
}

.precofooter {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
}
.precofooter img {
  height: 16px;
  width: 16px;
}

.acesso {
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  background: var(--LINEAR, linear-gradient(91deg, #FEDF8F 5.07%, #EC7641 87.85%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helder h5 {
  font-size: 18px;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.helder h1 {
  font-size: 36px;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pergunta-titulo {
  max-width: 920px;
  border-bottom: 1px solid #F2F2F2;
  color: white;
  margin: 0 auto;
}

.helder-helder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.content {
  font-size: 16px;
  margin-top: 22px;
}

.margin-auto, .video {
  margin: 0 auto;
}

footer {
  width: 100%;
}
footer img {
  width: 100%;
}

.pergunta {
  border-bottom: 1px solid #F2F2F2;
}
.pergunta .conteudo {
  display: none;
}
.pergunta .conteudo p {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: 400;
}
.pergunta .Titulo {
  font-size: 22px;
  font-weight: 500;
  color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}
.pergunta .Titulo img {
  height: 24px;
  width: 24px;
}

.perguntas {
  padding: 96px 24px;
  height: auto;
  width: 100%;
}

.show {
  display: block important;
}

h1 {
  font-family: Poppins;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: Poppins;
    font-size: 64px;
    line-height: 100%;
  }
}

p {
  font-family: Poppins;
}
@media screen and (max-width: 960px) {
  p {
    font-family: Poppins;
  }
}

.text-24, .hero .hero-container p {
  font-size: 24px;
}

.text-70, .hero .hero-container h1 {
  font-size: 70px;
}

h2 {
  font-family: Poppins;
}

p {
  font-family: Poppins;
}

.button-gold, .content button {
  width: 381px;
  height: 80px;
  border-radius: 8px;
  background: var(--GOLD-2, linear-gradient(91deg, #F6DF93 4.34%, #FCEAC6 51.42%, #FDCF7A 99.04%), #C4C4C4);
  box-shadow: 0px 3px 0px 0px #FED285, 0px 0px 9px 6px #F9EABB inset, 0px 20px 11px -12px rgba(253, 208, 125, 0.66);
  border: 0px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-top: 36px;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  color: #5C312B;
  text-transform: uppercase;
}
.button-gold:hover, .content button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 960px) {
  .button-gold, .content button {
    width: 100%;
  }
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-6, .aulas {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}

.gap-16, .hero .hero-container, .aulas .aula, .depoimentos {
  gap: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #1a1a1a;
}

svg, img {
  display: block;
  width: 100%;
}

.texte-white {
  color: white;
}

.texte-gradiente {
  color: #BB8330;
}

.Ofertas {
  height: 100%;
  width: 100%;
  padding: 250px 24px;
}

.thumb-ofertas {
  width: 540px;
  height: auto;
  border: 5px solid #BB8330;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 46px 24px;
  justify-content: center;
  align-items: center;
}
.thumb-ofertas > img {
  position: absolute;
  top: -300px;
}

.Ofertas-descrition {
  margin-top: 80px;
}
.Ofertas-descrition h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.Ofertas-descrition h2 span {
  color: #BB8330;
}

.lista-de-ofertas {
  list-style: none;
}
.lista-de-ofertas li {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.preco {
  text-align: center;
}
.preco p {
  font-size: 16px;
}
.preco p span {
  color: red;
}
.preco p:last-child {
  font-size: 16px;
  font-weight: 400;
}
.preco h1 {
  background: var(--LINEAR, linear-gradient(91deg, #FEDF8F 5.07%, #EC7641 87.85%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
}
.preco img {
  margin-top: 16px;
}

.acesso {
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  background: var(--LINEAR, linear-gradient(91deg, #FEDF8F 5.07%, #EC7641 87.85%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helder h5 {
  font-size: 18px;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.helder h1 {
  font-size: 36px;
  background: var(--LARANJA-PRODUTO, linear-gradient(180deg, #D59332 0%, #BB8330 100%));
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pergunta-titulo {
  max-width: 920px;
  border-bottom: 1px solid #F2F2F2;
  color: white;
  margin: 0 auto;
}

.helder-helder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.content {
  font-size: 16px;
  margin-top: 22px;
}

.margin-auto, .video {
  margin: 0 auto;
}

footer {
  width: 100%;
}
footer img {
  width: 100%;
}

:root {
  --gold-color: linear-gradient(45deg, #ffd700, #ffa500);
}

.orange {
  background: linear-gradient(180deg, #D59332 0%, #BB8330 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gold, .hero .hero-container h1 span, .depoimentos h2 {
  color: #E9CDA8;
}

.border-gold, .aulas .aula {
  border: 2px solid #E9CDA8;
}/*# sourceMappingURL=style.css.map */